@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900&display=swap');

body {
    font-family: 'Roboto Flex', sans-serif;
}


p {
    margin-bottom: 0;
}

a.navbar-brand {
    color: white;
    display: inline-block;
}

span.logo {
    background: #8d79fb;
    padding: 10px 25px;
    background: #8d79fb;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 15px;
}

span.logo-text-2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #8d79fb;

}

.spinner-color {
    color: #8d79fb !important;
}

li.profile-1 a {
    margin-left: 26px;
    font-weight: 600;
    font-size: 1rem;
    color: #8d79fb !important;
}

li.menu-items a {
    font-size: 1.1rem;
    font-weight: 700;
    color: #767676;
}

.main-body {
    background-color: #f8f9fa;
}

.item-text {
    background: #fff;
    border-radius: 14px;
}

.sort-text p {
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 5px;
    margin-right: 15px;
}

.btn-secondary {
    --bs-btn-color: #979797;
    --bs-btn-bg: #ffffff;
    --bs-btn-border-color: #ffffff;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #5c636a;
    --bs-btn-hover-border-color: #565e64;
    --bs-btn-focus-shadow-rgb: 130, 138, 145;
    --bs-btn-active-color: #ffffff;
    --bs-btn-active-bg: #376d97;
    --bs-btn-active-border-color: #51585e;
    --bs-btn-active-shadow: inset 0 3px 5pxrgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #6c757d;
    --bs-btn-disabled-border-color: #6c757d;
}

.sort-btn-1 {
    margin-right: 22px;
}

.pick {
    background: #8d79fb;
    border: #8d79fb;
    font-size: 1.2rem;
}

.pick:hover {
    background: #fff;
    color: #8d79fb;
    border: #8d79fb;
}

.trending {
    border-color: #8d79fb;
    font-size: 1.2rem;
    color: #8d79fb;
}

.trending:hover {
    background: #8d79fb;
    border: #8d79fb;
    font-size: 1.2rem;
}

.card {
    border: none;
    border-radius: 18px;
}

h5.card-title {
    font-size: 1.6rem;
    font-weight: 600;
}

.click-details i {
    display: inline-block;
    font-size: 1.3rem;
    font-weight: 700;
    color: #8d79fb;
}


footer h5 {
    color: #6e6e6e;
}

.nav-link:focus {
    color: rgb(255 255 255);
    background: #8d79fb;
    display: inline-block;
}